.statistics {
  padding-top: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  background-color: #ffffff;
  padding: 15px 5px;
  font-weight: normal;
  color: grey;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.statList {
  display: flex;
  background-color: #f3f6f9;
  border: 1px solid #cad5e3;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  border: 1px solid #cad5e3;
}

.label {
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
  color: grey;
}

.percentage {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
}
